@font-face {
	font-family: 'Nexa';
	src: url('Nexa Light.otf');
}

body {
	background: #eee;
}

.columns {
	height: relative;
	border-radius: 4px;
	margin-top: 16px;
	margin-bottom: 12px;

	text-align: left;
	
	background: ;

	padding: 0px;
}

.container {
	margin-top: 12px !important;
}

a {
	color: #000 !important;
	text-decoration: none !important;
}

.post-title {
	margin-bottom: 0px;
}

.publish-date {
	padding-bottom: 30px;
}