@font-face {
	font-family: 'roboto';
	src: url('roboto.ttf');
}

* {
	outline: none;
}

body {
	background: /*url('images/1457252998804.jpg')*/ #D8D8D8 no-repeat fixed;
	background-size: cover;
	background-position: center 0;

	text-align: center;
	color: #000 !important;
}

#screenboxmain {
	top: 420px; bottom: 0;
	left: 0; right: 0;

	opacity: 1;

	text-align: center;
	font-family: 'roboto';
}

.screenbox {

	background: #000;
	opacity: 0.7;

	border: #000 2px solid;

	transition: 0.3s ease;
}

.screenbox:hover {
	opacity: 1;
}

p {
	line-height: 16px;
}

a {
	text-decoration: underline;
	color: #000 !important;
}

a:hover {
	text-decoration: underline;
}

.columns {
	margin-bottom: 12px;
}

img {
	width: 100%
}