@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Regular.otf');
}

* {
	outline: none;
}

body {
	margin: 0;

	background: #E6E6E6;
	font-family: 'Montserrat', sans-serif;

	text-align: center;
}

#parent {
	width: 664px;
	height:;
}

#headimage {
	border-radius: 98px;
	height: 196px;

	position: relative;
	top: 18px;

	display: block;
	margin: auto;

	transition: 0.3s ease;
}

.a {
	display: inline-block;
	padding: 6px;
	padding-top: 42px;

	color: #FA5858;

	text-decoration: none;

	transition: 0.2s ease;
}

a {
	color: #FA5858;
	text-decoration: none;

	transition: 0.2s ease;
}

a:hover {
	text-shadow: 0px 0px 12px #585858;
	transform: scale(1.06);
}


#headimage:hover {
	box-shadow: 0px 0px 12px #585858;
	transform: scale(1.05);
	transform: rotate(15deg);
}

.skin {
	position: relative;
	margin: auto;

	left: 0; right: 0;
	bottom: 0; top: 62px;

	margin-top: 40px;

	border-radius: 4px;

	width: 622px;
	height: 222px;

	text-align: left;
}

h2 {
	margin-top: -34px;

	padding-left: 12px;
}

.box {
	padding-left: 12px;
}

ul {
	list-style-type: none;
}